<h1>Events#edit</h1>
<p>Please edit the fields necessary </p>

<%= form_for(@event) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :address %>
  <%= f.date_field :start_at%>
  <%= f.date_field :end_at %>

<%= f.submit %>
<% end %>
<p>Find me in app/views/events/edit.html.erb</p>
